# deps
node_modules/
.pnpm-store/

# next
.next/
out/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
.vscode/
.idea/

# supabase
.supabase/
supabase/.branches/
supabase/.temp/

# generated
types/database.generated.ts

# netlify
.netlify/
